body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
}
.login-container {
    display: flex;
    width: 900px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.login-box {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.logo img {
    width: 175px;
    margin-right: 10px;
    height: 65px;
}
.logo h2 {
    font-size: 24px;
}
form {
    display: flex;
    flex-direction: column;
}
input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #0056b3;
}
p {
    margin-top: 10px;
}
p a {
    color: #007bff;
    text-decoration: none;
}
p a:hover {
    text-decoration: underline;
}
.login-image {
    flex: 1;
}
.login-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}